$border-radius: 20px;

$accent: #f9a100;
$primary: #b2cebb;
$base: #424242;
$light-primary: rgba($primary, .3);
$gray: #8c8c8c;
$light-gray: rgba($gray, .2);
$lighter-gray: rgba($gray, .1);
$transition: .3s all ease;